# Node modules
node_modules/
dist/
.env
*.log

# Angular
ecommerce-frontend/.angular/
ecommerce-frontend/node_modules/
ecommerce-frontend/dist/

# NestJS
backend/node_modules/
backend/dist/

# VS Code
.vscode/
